* {
  background-color: #16161a;
}
#title {
  text-align: center;
  font-size: 20px;
  margin: 20px;
}
body {
  background-color: #16161a;
  margin: auto;
}
h1 {
  color: #fffffe;
}
button {
  background-color: #7f5af0;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.header {
  display: flex;
  justify-content: center;
}
.dropdown {
  background-color: #94a1b2;
  color: #fffffe;

  margin-top: 22px;
  height: fit-content;
}
#myCanvas {
  margin: auto;
}

.button-box {
  display: flex;
  justify-content: center;
}
.reset-button {
  margin: 10px;
}

.sort-button {
  margin: 10px;
}
